.input-autofill,
.input-autofill:hover,
.input-autofill:focus,
.input-autofill:active {
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: #fff !important;
}
